# Шаблонный unit: hadoop-hdfs@namenode, hadoop-hdfs@secondarynamenode, hadoop-hdfs@datanode
[Unit]
Description=Apache Hadoop HDFS %i
Documentation=https://hadoop.apache.org/docs/r@HADOOP_VERSION@/
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=@HADOOP_USER@
Group=@HADOOP_USER@
Environment=HADOOP_IDENT_STRING=@HADOOP_USER@
ExecStart=@HADOOP_HOME@/bin/hdfs --daemon start %i
ExecStop=@HADOOP_HOME@/bin/hdfs --daemon stop %i
PIDFile=@PID_DIR@/hadoop-@HADOOP_USER@-%i.pid
SuccessExitStatus=143
Restart=on-failure
RestartSec=15
TimeoutStartSec=180
TimeoutStopSec=120
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
